* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation-name: body_apper;
    animation-delay: 6s;
}

.loading {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 100px;
    animation-name: disapper;
    animation-delay: 3s;
    display: none;
}
.loading li {
    transition: all;
    animation: rotate 2s 2;
}

@keyframes rotate {
    0% {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }

    50% {
        transform: translateX(100px);
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
    }

    100% {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}

@keyframes rotate2 {
    0% {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }

    50% {
        transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
    }

    100% {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}

.loading li:nth-child(1) {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #0c65ed;
    transition: all;
    animation: rotate 2s;
    -webkit-animation: rotate 2s;
}

.loading li:nth-child(2) {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000000;
    transition: all;
    animation: rotate2 2s;
    -webkit-animation: rotate2 2s;
}

.contact ul {

    height: fit-content;
    background-color: blue;
    display: flex;
    gap: 7%;
    color: white;
    padding: 1%;
    list-style: none;
}

ul a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

nav {
    /* position: fixed;s */
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 4px #4a4a4a;
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-template-areas:
        "i1 i2";
}

nav img {
    grid-area: i1;
    padding: 10px 0 10px 10px;
}

nav ul {
    grid-area: i2;
    list-style: none;
    display: flex;
    margin-top: 20px;
    gap: 30px;
}

nav a {
    text-decoration: none;
    padding: 20px;
    color: black;
}

nav a:hover {
    color: blue;
}

.images {
    background-image: url(../images/abt-ban.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: multiply;
    height: 400px;
    display: flex;
    align-items: center;    
    justify-content: center;
    color: white;
    font-size: 50px;
}
.contact_info_h1{
    text-align: center;
    margin-top: 60px;
    font-size: 35px;
    text-transform: capitalize;
}
.contact_info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    height: 300px;
}
.contact_info div{
    width: 30%;
}
.contact_info div i{
    color: #0c65ed;
    font-size: 37px;
    margin-left: 50%;
}
.contact_info div h2{
    margin-left: 45%;
    font-size: 18px;
    text-transform: capitalize;
    color: #1a1a1a;
    padding: 10px;
}
.contact_info div h3{
    margin: auto;
    text-align: center;
    padding: 25px;
    opacity: .6;
}
form{
    margin-top: 50px;
}
form > div{
    display: flex;
    justify-content: center;
    gap:10%;
}
form input{
    border: none;
    padding: 10px;
}
form input:focus{
    border: 1px solid blue;
}
form > div > div{
    border-bottom: 1px solid #1a1a1a;
    width: 20%;
}
form>div>div:focus{
border-color: #0c65ed;
}
textarea{
    margin: auto;
    padding: 30px;
    border: none;
    display: flex;
        justify-content: center;
        margin: auto;
        border-bottom: 1px solid #1a1a1a;
        margin-top: 40px;
}
form button{
    padding: 10px;
        width: 250px;
        height: 60px;
        color:white ;
        background-color:#0c65ed;
        border-radius: 30px;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        border: none;
}
.form_button{
    margin: 20px;
}
.call {
    width: 100%;
    background-color: #0c65ed;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.call i {
    font-size: 80px;
    position: absolute;
    z-index: 0;
    opacity: .5;
    left: 20%;
    color: #fff;
}

.call h1 {
    position: relative;
    z-index: 1;
    color: white;
}

.call button {
    padding: 10px;
    width: 250px;
    height: 60px;
    color: #0c65ed;
    background-color: white;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.call button:hover {
    transition: all .4s;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.footer {
    background-color: #1a1a1a;
    color: white;
}

.footer_content {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.footer_content div:nth-child(1) {
    /* display: flex; */
    width: 30%;
}

.footer_content .line {
    border-bottom: 2px solid #0c65ed;
    width: 20%;
}

.footer_content h3 {
    text-align: left;
}

.footer_content .co {
    display: flex;
    padding: 10px 0;
}

.footer_content i {
    padding: 0 10px 0 0;
}

.footer_content div:nth-child(2) {
    /* width: 40%; */
}

.footer_content div:nth-child(2) h2 {
    font-size: small;
    padding: 0 10px;
}

.footer_content div:nth-child(2) .sec2 {
    display: flex;
    margin: 30px 0;

}

.footer_content div:nth-child(2) img {
    width: 100px;
    height: 50px;
}

.footer_content div:nth-child(2) img:hover {
    cursor: pointer;
    opacity: .7;
}

.footer_content div:nth-child(2) .disc div {
    display: flex;
}

.footer_content div:nth-child(2) .disc h4 {
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
}

.footer_content div:nth-child(2) .disc i {
    padding: 10px;
}

.but {
    width: 21%;
    padding: 20px;
}

h1 {
    padding: 10px 0;
}

.but h1 {
    margin-top: -25px;
}

.but button {
    padding: 10px;
    margin: 10px;
    width: 80px;
    color: #0c65ed;
    background-color: white;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.but button:hover {
    background-color: #0c65ed;
    color: white;
}